/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

@font-face {
  font-family: "Palmer";
  src: url("./fonts/cs-palmer-font-1728057975-0/CSPalmer-Regular_demo-BF66fe02f3495e2.otf")
    format("opentype");
}

:root {
  --foreground: #f9eae1;
  --background-start: #2a2a2a;
  --background-end: #1a1a1a;
  --accent: #aaaf8d;
  --highlight: #4a6955;
  --button-background: #7ea680;
  --hover-background: #5b5051;
  --grid-line: rgba(255, 255, 255, 0.196);
  --headlines: "Palmer", serif;
}

html {
  background-image:
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 24px,
      var(--grid-line) 25px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 24px,
      var(--grid-line) 25px
    ),
    linear-gradient(to right, var(--background-start), var(--background-end));
  background-color: var(--background-start);
  color: var(--foreground);
  font-family: "Playfair Display", serif;
}

.main {
  background: linear-gradient(to bottom, #cb918db2, #ce9f9baf);
}

h1,
h2,
h3 {
  font-family: var(--headlines);
}

.welcome-msg {
  display: inline-block;
  padding: 1rem;
  background-color: #2b2724;
  border-radius: 0.5rem;
}

nav ul li {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

nav ul li:hover {
  background-color: #e8bcb9;
  color: #2b2724;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  background-color: var(--background-start);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--accent);
  backdrop-filter: blur(6px);
}

.logo h1 {
  color: var(--highlight);
  font-size: 2.5rem;
  font-family: var(--headlines);
}

.pixel {
  width: 10%;
}

.highlight {
  color: rgba(var(--accent));
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fefae0;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.nav-links a:hover {
  color: rgba(var(--highlight));
  transform: translateY(-3px);
  text-shadow: 0px 2px 5px rgba(var(--highlight), 0.4);
}

.nature-button {
  background-color: rgba(var(--button-background));
  color: rgba(var(--foreground));
  border: none;
  padding: 0.8rem 2rem;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--hover-background);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.nature-button:hover {
  background-color: rgba(var(--hover-background));
  box-shadow: 0 6px 12px var(--hover-background);
}

.smallerNav {
  border-bottom: 3px solid rgba(var(--accent), 0.7);
}

/* dev page */
.filter-dev {
  background-color: #2b2724;
  padding: 0.5rem;
}

.project-page {
  background: linear-gradient(to bottom, #cb918db2, #ce9f9baf);
}

.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1500px;
  margin: auto;
}

.projectList .design-list {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 450px) {
  .projectList {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

/* Project Card */
.projectItem {
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background-color: #2b2724ab;
}

.projectItem:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.15);
}

/* Title */
.projectItem h2 {
  font-size: 22px;
  font-family: var(--headlines);
  margin-bottom: 10px;
}

/* Description */
.projectItem p {
  font-size: 14px;
  color: rgb(var(--accent));
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Tech List */
.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
}

.techItem {
  background: var(--hover-background);
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
}

/* Visit Button */
.visitButton {
  display: inline-block;
  font-weight: bold;
  transition: background 0.3s ease;
  margin: 0.4rem;
}

.visitButton:hover {
  background: #73957f;
}

/* Project Card */
.details {
  background: rgb(var(--background-end));
  padding: 30px;
  box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Title Styling */
.details h2 {
  font-size: 28px;
  color: rgb(var(--highlight));
  font-family: var(--headlines);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Logo Centered */
.details > img {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1);
}

/* Company Info Section */
.compagny {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  background: rgba(var(--accent), 0.2);
  border-radius: 10px;
}

.compagny p {
  padding: 10px;
  background: rgba(var(--highlight), 0.15);
  border-radius: 8px;
  font-size: 16px;
  color: rgb(var(--foreground));
  text-align: center;
}

/* Process Sections */

.step4 {
  background-color: var(--background-start);
  padding: 1rem;
  border-radius: 0.5rem;
}

/* Section Headers */
.process h3 {
  font-size: 22px;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 5px;
}

.process h3::after {
  content: "";
  width: 50px;
  height: 3px;
  background: rgb(var(--highlight));
  position: absolute;
  bottom: -5px;
  left: 0;
}

/* Image Styling */
.process img {
  margin: 1rem auto;
  width: 95%;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.1);
}

.final img {
  width: 75%;
}

/* Ordered Lists */
.details ol {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  counter-reset: list-counter;
  margin-top: 0.5rem;
}

.details ol li {
  font-size: 16px;
  color: rgb(var(--foreground));
  border-radius: 8px;
  list-style: none;
  display: flex;
  align-items: center;
  counter-increment: list-counter;
}

.details ol li::before {
  content: counter(list-counter) ".";
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  width: 1.5em;
}

/* Figure Captions */
figcaption {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  color: rgb(var(--accent));
  font-style: italic;
}

/* Filter button styles */
.filter-button {
  background-color: #7ea680;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
  transition: background-color 0.3s;
}

.filter-button.active {
  background-color: #4e8a4b;
}

.filter-button:hover {
  background-color: #5c9f6d;
}

/* See More button styles */
.see-more-button {
  background-color: #7ea680;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.see-more-button:hover {
  background-color: #4e8a4b;
}

.btn-outline:hover,
.btn-secondary:hover {
  color: var(--background-start);
  background-color: var(--foreground);
}
